TUYA_CLIENT_ID=tu_client_id_aqui
TUYA_CLIENT_SECRET=tu_client_secret_aqui
TUYA_BASE_URL=https://openapi.tuyaus.com
PORT=3000
HOTEL_URL=http://localhost:3000
ADMIN_API_KEY=cambiar_a_clave_aleatoria_larga
DEMO_MODE=true
HOTEL_NAME=Mi Hotel
